
body {
    background-color: #eee;
    font-family: Verdana, Tahoma, sans-serif;
} 
h1, h2, h3, h4{
  font-weight: bold;
  color: #a61717;
}
.content{
  width:50%;  
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
    border-style:solid;
    border-width:1px;
    border-color:#858384;
    border-top:none;
}

.tab-content{
    background-color: #fff;
    padding:20px; 
}


@media screen and (max-width:1200px){
  .content{
      width:75%;
      margin-top:0;
    }
}

@media screen and (max-width:800px){
  .content{
      width:100%;
    }
}

#inschrijven, #form{
  height:10000px;
}

#form{
  width:100%;
}

.navbar{
    margin-bottom:0;
}

#logocontainer {
    position:relative;
    display: block;
    margin:auto;
    height:50px;
    width:50px;
}

.navbar-toggle{
  float:left;
  margin-left:10px;
}

::-webkit-scrollbar { 
    display: none; 
}

.shadow {
  -webkit-box-shadow: 1px -1px 8px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px -1px 8px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px -1px 8px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

input{
  margin-top:20px;
}

.invis5, .invis20, .invis{
  display:none;
}

.button{
  -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding:2px;
}
.button:hover{
  text-decoration: none;
}

.contactTable, .contentTable{
  width:100%;
  margin-top:20px;
  text-align: justify;
}

.contactTable td, .contentTable td{
  vertical-align: top
}

.infoTabel tr td:nth-child(odd){
  text-align: right;
  border-right:1px solid #555;
  padding-right:7px;
  font-style: italic;
}

.infoTabel tr td:nth-child(even){
  padding-left:7px;
}



.infoTabel td{
  padding:0 5px 0 0;
  vertical-align: top;
  line-height: 1.5em
}

#logoGroot{
  float:left;
  width:40%;

}
#logoGroot img{
  width:100%;
}

#informatieText{
  float:left;
  width:60%; 
}

#informationBackground{
  height:550px;
}


#kevin{
  float:left;
  width:65%;
}

.contactDiv{
  margin-top:20px;
}

#heleCommissie{
  float:right;
  width:35%;
}

#contactBackground{
  height:80px;
}

#voorbehoud{
  font-size: 9pt;
}

#contactTable td{
  width:50%;
  vertical-align:top;
}

@media screen and (max-width:800px){
  #voorbehoud{
    display: block;
  }

  #informatieText, #kevin, #heleCommissie{
      width:100%;
    }
  #logoGroot{
    display: none;
  }
  #heleCommissie{
    margin-top:20px;
  }

  #contactTable td{
    display: block;
    width: 100%;
    float: left;

  }

  #contactBackground{
    height:130px;
  }
}

.red{
  color:red;
}

#deR{
  font-size:5pt;
}

#programmaTabel{
  border:none;
  text-align: right;
}

#commissieFoto{
  border-radius: 140px;
  width:100%;

}

.routeFlex{
  display: flex;
  justify-content: space-between;
}

.routeFlex p{
  width:50%;
}

@media screen and (max-width:800px){
  .routeFlex{
    flex-direction:column;
  }
  .routeFlex p, .routeFlex iframe{
    width:100%;
  }
}